<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h1>Shop</h1>
<form method="post" action="/login.html">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Login</button>
</form>
<div th:if="${param.error}">Invalid username or password</div>
</body>
</html>
